# Naive Bayes Machine Learning Model

In [1]:
#import dependencies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [2]:
train = pd.read_csv('train.csv')
test =  pd.read_csv('test.csv')

In [3]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

### Exploratory Data Analysis

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [7]:
train.shape

(7613, 5)

In [8]:
test.shape

(3263, 4)

In [9]:
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [10]:
test.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

From the **EDA** shown above we can observe that the keyword and location columns in both the test and train dataset contain missing values but we shall be droppping both columns as they are not important features for the text classification we are to carry out.

In [11]:
train = train.drop(['keyword', 'location'], axis=1)
test = test.drop(['keyword', 'location'], axis=1)

Checking our new datasets

In [12]:
train.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

In [13]:
test.head()

   id                                               text
0   0                 Just happened a terrible car crash
1   2  Heard about #earthquake is different cities, s...
2   3  there is a forest fire at spot pond, geese are...
3   9           Apocalypse lighting. #Spokane #wildfires
4  11      Typhoon Soudelor kills 28 in China and Taiwan

#### Splitting the train data

In [14]:
X_train, X_test, y_train, y_test = train_test_split(train.text, train.target, test_size= .3, random_state = 10)
X_train.shape, X_test.shape

((5329,), (2284,))

### Count-Vector
CountVectorizer is used to transform a given text into a vector on the basis of the frequency(count) of each word that occurs in the entire text.It involves counting the number of occurences each words appears in a document(text)

In [15]:
vec = CountVectorizer()
X_train_vec = vec.fit_transform(X_train)
X_test_vec = vec.transform(X_test)
test_vec = vec.transform(test)

In [16]:
X_train_vec

<5329x16979 sparse matrix of type '<class 'numpy.int64'>'
	with 78010 stored elements in Compressed Sparse Row format>

A sparse matrix means the data contains more of zeros than 1, its a binary data.

### Comparison of Naive Bayes, Decision Tree and Logistic regression based models
#### Naive Bayes

In [17]:
gaussian = GaussianNB()
mnb = MultinomialNB()

In [25]:
%%time
mnb.fit(X_train_vec, y_train)

Wall time: 238 ms

MultinomialNB()

In [19]:
y_pred = mnb.predict(X_test_vec.toarray())

In [20]:
accuracy = accuracy_score(y_test, y_pred)
print('The accuracy of the model is:', accuracy)

The accuracy of the model is: 0.7933450087565674

#### Decision Tree Classifier

In [21]:
dtc = DecisionTreeClassifier()

In [22]:
%%time
dtc.fit(X_train_vec, y_train)

Wall time: 1.81 s

DecisionTreeClassifier()

In [23]:
dtc_y_pred = dtc.predict(X_test_vec.toarray())

In [24]:
acc = accuracy_score(y_test, dtc_y_pred)
print('The accuracy of the model is:', acc)

The accuracy of the model is: 0.739492119089317

#### Logistic Regression Model

In [26]:
logreg = LogisticRegression()

In [27]:
%%time
logreg.fit(X_train_vec, y_train)

Wall time: 1 s

LogisticRegression()

In [28]:
log_y_pred = logreg.predict(X_test_vec.toarray())

In [29]:
accy = accuracy_score(y_test, log_y_pred)
print('The accuracy of the model is:', accy)

The accuracy of the model is: 0.8064798598949212